%h2 Reading Log
%p
  %small#new_read= link_to "+Add a New Read+", new_read_path
- if @reads
  %ul#read_list
    - for read in @reads
      %li
        = "#{read.read_date}: #{read.issue.comic.title} ##{read.issue.issue_num}"
        = "* " if read.issue.owned
        %small{:class => "extra"}= link_to "[del]", read, :confirm => "for really real?", :method => :delete
  %div
    = will_paginate @reads
    = "#{@reads_count} reads logged. * indicates an issue you own."
- else
  %p You haven't entered any reads yet.
