%h2 Add a New Read
%div= error_messages_for :read
- form_tag(reads_path) do
  %p
    = label_tag 'comic', "Comic"
    %br/
    = text_field_tag :comic, params[:comic]
  %p
    = label_tag 'issue_num', "Issue #"
    %br/
    = text_field_tag :issue_num, params[:issue_num]
  %p
    = label_tag 'read_date', "Read Date"
    %br/
    = calendar_date_select :read, :read_date
  %p
    = label_tag 'notes', "Notes"
    %br/
    = text_area_tag :notes, params[:notes]
  %div
    %br/
    %button{:name => "logit", :id => "logit"}
      %span Log Read

